<div class="ar-detail">
    <div class="top-section">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div class="hilda-palmer">{{name}}</div>
            <a href="#" style="margin-top: 3px">
                <img src="../../assets/icons/Shape.svg">
            </a>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div class="phone-number">+ {{phone}}</div>
            <a href="#">
                <img src="../../assets/icons/Icon - WhatsApp.svg">
            </a>
        </div>

    </div>
    <div class="below-section">
        <div style="display: flex; flex-direction: row;">
            <div class="rectangle"><span>{{ 'account_inquiry' | translate }}</span></div>
            <div class="rectangle"><span>{{ 'payment_issue' | translate }}</span></div>
            <div class="rectangle1"><span>+ {{ 'new_intent' | translate }}</span></div>
        </div>
        <a href="#">
            <img src="../../assets/icons/Path.svg">
        </a>
    </div>
</div>